{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">

	</head>
	<body>

	<!-- Slogan sobre foto -->
	<section class="container-fluid top" id="home">
		<div class="container">
			<div class="slogan">
				<h1>Te queremos aconsejar</h1>
				<p>Te entregamos una serie de consejos que podrian ayudarte</p>
			</div>
		</div>
	</section>

	<br>

	<!-- Info(Contenido) -->
	<div class="container" style="text-align: center;"> 
		<div class="col-md-12">        
			<div class="card text-center">
			  <div class="card-body">
				<h4 class="card-title">PDI</h4>
				<br>
				<br>
				<a href="https://www.pdichile.cl/" class="btn btn-primary" target="_blank">Ingresar</a>
			  </div>
			</div>          
		</div>
  
		<div class="col-md-12">        
			<div class="card text-center">
			  <div class="card-body">
				<h4 class="card-title">Carabineros de Chile</h4>
				<br>
				<br>
				<a href="https://www.carabineros.cl/" class="btn btn-primary" target="_blank">Ingresar</a>
			  </div>
			</div>          
		</div>
		
		<div class="col-md-12">        
			<div class="card text-center">
			  <div class="card-body">
				<h4 class="card-title">Sename</h4>
				<br>
				<br>
				<a href="https://www.sename.cl/web/" class="btn btn-primary" target="_blank">Leer</a>
			  </div>
			</div>
			<br>    
		</div>
	</div>
</div>	


</body>
</html>
{% endblock %}