{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>MAE Foro Ayuda</title>
		{% load static %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
		
	</head>
	<body>

	<!-- Slogan sobre foto -->
	<section class="container-fluid top" id="home">
		<div class="container">
			<div class="slogan">
				<h1>Te queremos aconsejar</h1>
				<p>Te entregamos una serie de consejos que podrian ayudarte</p>
			</div>
		</div>
	</section>

	<br>

	<!-- Info(Contenido) -->
	<div class="container"> 
        <div class="col-xl-12">
            <h1 class="centrar">Amistades Toxicas</h1>
		</div>
		<br>

	<div class="row">	
        <div class="col-xl-6">

			<h4 class="justificado">Las amistades tóxicas pueden influir a tal punto, que pueden desgastar de una u otra forma el ánimo y la paciencia. En muchos casos, 
                limitando lo que se quiere hacer o generando sentimientos negativos como el estrés, la depresión, entre otros.
                Saber cuándo una persona no influye para bien en la vida y tratar de alejarla es una forma de mantener el equilibrio emocional.</h4> 
                
                <br>

                <h4>A continuación te ayudamos a identificarlas.</h4>
			<br>
			
			<div class="centrar">
				<h3>Las relaciones tóxicas pasivo-agresivas</h3>
            
			<p>Este tipo de personas se caracteriza por desarrollar un comportamiento de discordancia constante. 
                Lo que se traduce como que nada le parece bien, nunca. Sin embargo, no tiene la capacidad de decirlo de forma directa, por lo que siempre anda con rodeos, indirectas o insinuaciones.
                Son personas que suelen presentar una actitud distante. Generalmente, permanecen calladas y con actitudes extrañas. 
                En muchos casos, esta actitud puede estar desarrollándose como un método para llamar la atención del resto. 
                De este modo, suelen molestarse con facilidad, sentimiento que pueden expresar abiertamente o no. 
                En ocasiones, su malestar se acumula, provocando una actitud agresiva que puede acabar con fuertes discusiones cuyo motivo no parecerá tener fundamento.</p> 

            <h4>Personas dramáticas o depresivas</h4>
            
            <p>La depresión es una enfermedad grave, un trastorno del cerebro. Existen muchas causas que pueden dar lugar a este problema. Estas incluyen factores genéticos, biológicos, ambientales y psicológicos. 
                La depresión puede comenzar a cualquier edad, aunque suele manifestarse en la juventud o en adultos jóvenes.
                En muchos casos, existen personas que sin necesidad de haber desarrollado este trastorno, actúan mostrando una personalidad triste, melancólica. 
                En este caso, tienden a amplificar cualquier problema del día a día.
                Dentro de la amistad, estas personas pueden utilizar a los otros como terapeutas, en muchos casos buscando atención inspirando lástima y respeto, pero casi nunca se dejan ayudar.
                Pueden descargar sus miedos e inseguridades, pero no suelen ser capaces de tomar consejos y hasta se pueden molestar al recibirlos.  
                Se caracterizan en muchos casos por ser personas narcisistas. No pueden empatizar con los demás porque solo son capaces de fijarse en uno mismo..</p> 

            <h4>Personas manipuladoras</h4>
            
            <p>Las personas manipuladoras suelen sacarle provecho a aquellas personas que prefieren evitar confrontaciones, que hacen favores con facilidad y que pocas veces dicen que no.
                Se caracterizan por ser capaces de explotar emocionalmente a los demás. Es decir, 
                pueden aprender a manejar las emociones para conseguir exaltar sentimientos de culpabilidad o lástima en otros de forma que puedan obtener aquello que desean. 
                Actúan movidas por sus propios intereses. 
                Las personas manipuladoras logran tomar el control y beneficiarse de las víctimas que les rodean de forma consciente y deliberada.</p> 
			<br>
			</div>
		</div>


		<div class="col-xl-6 ">
			<img src="{% static 'images/amistades-toxicas.png' %}">
		</div>
           
    </div>
      
    <div class="row">
        <div class="col-md-12">
			<div class="centrar">
				<h3>Otras relaciones tóxicas: personas competitivas</h3>

            <p>La competitividad no tiene por qué ser mala necesariamente. En la mayor parte de las cosas, ser exigente con uno mismo, 
                buscar motivación en los demás y luchar por sacar adelante proyectos de vida son actitudes muy positivas.
                El problema puede aparecer cuando ser competitivo se transforma en una necesidad constante de minar a los demás para quedar por delante. 
                El sentirse satisfecho debido a los fracasos de otras personas puede ser una actitud característica de este tipo de comportamientos.
                Estas compañías acostumbran a criticar a sus amistades por la espalda. En especial a las que son todo lo que ellas buscan ser. 
                Generalmente gente con más confianza en sí mismas, llenas de vitalidad. También que tienen el respeto o admiración de los demás.
                En determinadas ocasiones, este tipo de personas tóxicas pueden acarrear ciertos problemas secundarios. Como falta de autoestima en uno mismo o una inseguridad muy marcada. 
				Factores debido a los cuales buscan desesperadamente sentirse superiores de cualquier modo. </p>
				<br>
			</div>
        </div>
    </div>        
</div>

</body>
</html>



{% endblock %}