{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    </head>
    
	<body>

	<!-- Slogan sobre foto -->
	<section class="container-fluid top" id="home">
		<div class="container">
			<div class="slogan">
				<h1>Te queremos aconsejar</h1>
				<p>Te entregamos una serie de consejos que podrian ayudarte</p>
			</div>
		</div>
	</section>

	<br>

	<!-- Info(Contenido) -->
	<div class="centrar">
		<div class="container"> 
			<div class="col-xl-12">
				<h1>Acoso Sexual</h1>
			</div>
			<br>
	
		<div class="row">	
			<div class="col-xl-12">
				<div class="videoyt-responsive">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/A__DSCnzNQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>      
		</div>
		  
		<div class="row">
			<div class="col-md-12">
	
				<h2>Recuerda siempre: NO , ES NO.</h2>
				<br>
				<h4>NADIE ademas de TU, puede tocar tu cuerpo.</h4>
				<br>
				<h4>Siempre INFORMA a tu PADRE O MADRE O TUTOR si alguien te ha faltado el respeto.</h4>
				<br>
				<h4>Si NO cuentas con el apoyo de algun familiar, denuncia en alguna institucion o colegio la situacion.</h4>
				<br>
				<h3>NO GUARDES SILENCIO JAMAS</h3>
				<br>
			</div>
		</div>
	</div>
	
</div>	

</body>
</html>


{% endblock %}